In [18]:
import pandas as pd
import numpy as np
score = np.random.randint(50,100, size=(10))
print(score)

[88 55 75 90 61 50 97 81 72 71]

In [19]:
d = {"Name" : ["Aarav", "Sana", "Ishaan", "Neha", "Kabir", "Meera", "Rohan", "Ananya", "Dev", "Tara"], 
     "Subject" : ["Mathematics", "Physics", "Chemistry", "Biology", "Physics", "English", "Mathematics", "History", "English", "Biology"],
     "Score" : score,
     "Grade" : [None]*len(score)
    }

In [20]:
df = pd.DataFrame(d)
print(df)

     Name      Subject  Score Grade
0   Aarav  Mathematics     88  None
1    Sana      Physics     55  None
2  Ishaan    Chemistry     75  None
3    Neha      Biology     90  None
4   Kabir      Physics     61  None
5   Meera      English     50  None
6   Rohan  Mathematics     97  None
7  Ananya      History     81  None
8     Dev      English     72  None
9    Tara      Biology     71  None

In [21]:
for i in range(10):
    score = df.at[i,"Score"]
    if score >= 90:
        df.at[i, "Grade"] = "A"
    elif score > 80:
        df.at[i, "Grade"] = "B"
    elif score > 70:
        df.at[i, "Grade"] = "C"
    elif score > 60:
        df.at[i, "Grade"] = "D"
    else:
        df.at[i, "Grade"] = "F"

In [22]:
print(df)

     Name      Subject  Score Grade
0   Aarav  Mathematics     88     B
1    Sana      Physics     55     F
2  Ishaan    Chemistry     75     C
3    Neha      Biology     90     A
4   Kabir      Physics     61     D
5   Meera      English     50     F
6   Rohan  Mathematics     97     A
7  Ananya      History     81     B
8     Dev      English     72     C
9    Tara      Biology     71     C

In [23]:
df.sort_values("Score", ascending=False)

     Name      Subject  Score Grade
6   Rohan  Mathematics     97     A
3    Neha      Biology     90     A
0   Aarav  Mathematics     88     B
7  Ananya      History     81     B
2  Ishaan    Chemistry     75     C
8     Dev      English     72     C
9    Tara      Biology     71     C
4   Kabir      Physics     61     D
1    Sana      Physics     55     F
5   Meera      English     50     F

In [24]:
df.groupby("Subject")["Score"].mean()

Subject
Biology        80.5
Chemistry      75.0
English        61.0
History        81.0
Mathematics    92.5
Physics        58.0
Name: Score, dtype: float64

In [39]:
def pandas_filter_pass(dataframe):
    out = pd.DataFrame(columns=["Name", "Subject", "Score", "Grade"])
    for i in range(10):
        if df.at[i,"Grade"] == "A" or df.at[i,"Grade"] == "B":
            out = pd.concat([out, pd.DataFrame([dataframe.loc[i]])])
    return out

In [40]:
print(pandas_filter_pass(df))

     Name      Subject Score Grade
0   Aarav  Mathematics    88     B
3    Neha      Biology    90     A
6   Rohan  Mathematics    97     A
7  Ananya      History    81     B